@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');


*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-image: url('/blob-top-right.png'), url('/blob-bottom-left.png');
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    color: hsl(231, 42%, 28%);
    font-family: 'Karla', sans-serif;
}


.btn{
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.btn-lrg{
    background-color: hsl(231, 42%, 28%);
    color: white;
    padding: 1.04rem 1.75rem;
    border: none;
}

.btn-sm{
    color: hsl(231, 42%, 28%);
    border: 1px solid;
    padding: 0.25rem 1.125rem;
}


.intro{
    min-height: 100vh;
    display: grid;
    place-items: center;

    .title{
        font-size: 1.95rem;
    }

    .introText {
        width: 40%;
    }
}

.options-form{

    select{
        margin-block: 0.8rem;
        width: 80%;
        background-color: hsl(231, 42%, 28%);
        font-family: inherit;
        color: white;
        border-radius: 7px;
        padding: 0.2rem;
    }

    

    legend{
        margin-bottom: 0.5rem;
    }

    fieldset{
        padding: 0;
        border: none;
    }
    
}

.container{
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding-inline: 1.5rem;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.quiz-list > li{
    padding: 1rem;

    &+li{
        border-top: 1px solid hsl(231, 42%, 28%);
    }
}

.answer-list{
    margin-top: 0.75rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 0.81rem;
}



.selected{
    background-color: hsla(230, 61%, 90%, 1);
}

.correct{
    background-color: hsla(133, 46%, 71%, 1);
}

.incorrect{
    background-color: hsla(360, 81%, 85%, 1);
}

.notSelected{
    background-color: transparent;
}


.submit{
    display: flex;
    gap: 0.8rem;
    margin-block: 1.25rem;
}